html{
    scroll-behavior: smooth;
}

body{
    background-color: #000000;
    color: white;
}

header{
	background: #010041;
	padding: 20px 0;
}

.menu{
	position: top;
	width: 940px;
    height: 30px;
	margin: 0 auto;
}

/*nav{
	position: top;
	top: 110px;
	right: 0;
}

nav li{
	display: inline-block;
	margin: 0 0 0 15px;
}*/

ul{
    display: flex;
    gap: 72px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    transition: 0.5s ease;
}

ul li {
    list-style: none;
}

ul:hover li a{
    color: #0EED04;
}

ul:hover li a:not(:hover){
    color: white;
    opacity: 0.3;
    filter: blur(1px);
}

/*Formulário de dados pessoais*/

.dadosForm{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(img/banner.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.box{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 20%;
}

fieldset{
    border: 3px solid dodgerblue;
}

legend{
    border: 1px solid dodgerblue;
    padding: 10px;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 8px;
}

.inputBox{
    position: relative;
}

.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}

.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: dodgerblue;
}

#data_nascimento{
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}

#submit{
    background-image: linear-gradient(to right,rgb(0, 92, 197), rgb(90, 20, 220));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

#submit:hover{
    background-image: linear-gradient(to right,rgb(0, 80, 172), rgb(80, 19, 195));
}

/*Página inicial*/

.titulo{
    font-weight: bolder;
    font-size: 50px;
    padding: 2px;
}

.inicio{
    display: grid;
    place-items: center;
    padding: 20px;
    background: linear-gradient(#010041 50%, #000000);
}

.texto-inicio{
    padding-bottom: 10px;
    font-size: 20px;
}

.titulo, .texto-inicio{
    text-align: center;
    width: 25%;
}

.iniciar-teste{
    width: 200px;
    height: 50px;
    font-size: 20px;
    padding: 5px auto;
    background-color: #0EED04;
}

.iniciar-teste:hover{
    border: none;
    box-shadow: 0 0 10px #0EED04;
}

.iniciar-teste:active{
    background: transparent;
    border: none;
    box-shadow: 0 0 10px #0EED04;
}

h3{
    font-weight: bold;
    font-size: 2em;
    padding: 5px;
}

.SobreDS{
    padding: 20px;
    display: grid;
    align-items: right;
    text-align: right;
    width: 0 0 300px 0;
}

.SobreADM{
    padding: 20px;
    display: grid;
    place-items: left;
    text-align: left;
    width: 0 300px 0 0;
}

footer{
    text-align: center;
    background-color: rgb(1, 0, 65);;
    color: white;
}

/*Página de teste*/

@media only screen 
  and (min-device-width: 180px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
   
    .dadosForm{
        font-family: Arial, Helvetica, sans-serif;
        background-image: url(img/banner-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
    }


    .box{
        display: grid;
        place-items: center;
        color: white;
        position: absolute;
        /*top: 50%;
        left: 50%;*/
        transform: translate(-50%,-50%);
        background-color: rgba(0, 0, 0, 0.6);
        padding: 15px;
        width: 20%;
    }

}