html{
    scroll-behavior: smooth;
}

body{
    background-color: #000000;
    color: white;
}

header{
	background: rgb(1, 0, 65);
	padding: 20px 0;
}

.menu{
	position: top;
	width: 940px;
	margin: 0 auto;
}

nav{
	position: top;
	top: 110px;
	right: 0;
}

nav li{
	display: inline-block;
	margin: 0 0 0 15px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 10px;
    transition: 0.5s ease;
}

ul li {
    list-style: none;
}

ul:hover li a{
    color: #0EED04;
}

ul:hover li a:not(:hover){
    color: white;
    opacity: 0.3;
    filter: blur(1px);
}


/*Página inicial*/

.titulo{
    font-weight: bolder;
    font-size: 50px;
    padding: 2px;
}

.inicio{
    display: grid;
    place-items: center;
    padding: 20px;
}

.texto-inicio{
    padding-bottom: 10px;
    font-size: 20px;
}

.titulo, .texto-inicio{
    text-align: center;
    width: 25%;
}

.iniciar-teste{
    width: 200px;
    height: 50px;
    font-size: 20px;
    padding: 5px auto;
    background-color: #0EED04;
}

.iniciar-teste:hover{
    border: none;
    box-shadow: 0 0 10px #0EED04;
}

.iniciar-teste:active{
    background: transparent;
    border: none;
    box-shadow: 0 0 10px #0EED04;
}

h3{
    font-weight: bold;
    font-size: 2em;
    padding: 5px;
}

.SobreDS{
    padding: 20px;
    display: grid;
    align-items: right;
    text-align: right;
    width: 0 0 300px 0;
}

.SobreADM{
    padding: 20px;
    display: grid;
    place-items: left;
    text-align: left;
    width: 0 300px 0 0;
}

footer{
    text-align: center;
    background-color: rgb(1, 0, 65);;
    color: white;
}

/*Página de teste*/