html{
    scroll-behavior: smooth;
}

header{
	background: #000;
	padding: 20px 0;
}

.menu{
	position: top;
	width: 940px;
	margin: 0 auto;
}

nav{
	position: top;
	top: 110px;
	right: 0;
    color: white;
}

nav li{
	display: inline-block;
	margin: 0 0 0 15px;
}

/*Página inicial*/
.inicio{
    display: grid;
    place-items: center;
    padding: 20px;
}

.iniciar-teste:hover,
.iniciar-teste:focus{
    box-shadow: 0 0.5em 0 0 0, inset 3.5em 0 0 0;
    transform: translateY(-0.25em);
}

h3{
    font-weight: bold;
    padding: 5px;
}
.SobreDS{
    padding: 20px;
}

.SobreADM{
    padding: 20px;
}

footer{
    text-align: center;
    background-color: #000;
    color: white;
}

/*Página de teste*/