body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 35px;
}


.button-container {
    margin-top: 50px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #0074D9;
    color: #FFF;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.button:hover {
    background-color: #0056b3;
}

